contexttimer==0.3.3
django-cors-headers==3.1.1
django-extensions==2.2.6
django-querycount==0.7.0
django==2.2.15
gunicorn==20.0.0
scaife-viewer-atlas @https://github.com/scaife-viewer/backend/archive/ad362413d8dcebc8b791ed2ebea68e3b700429cc.zip#subdirectory=atlas
whitenoise==4.1.4
