# @@@ ATLAS package is not yet released to pypi
https://github.com/scaife-viewer/backend/archive/scaife-viewer-atlas@0.1-a1.zip#subdirectory=atlas

django-cors-headers==3.1.1
django-extensions==2.2.6
django-querycount==0.7.0
django==2.2.15
gunicorn==20.0.0
whitenoise==4.1.4
